*{
    box-sizing: border-box;
}
html{   
    font-family: 'Noto Sans JP' sans-serif;
}
body{
    margin: 0;
    background-color: #fff;
}
.container{
    display: flex;
    justify-content: space-around;
}
.headins{
    display: flex;
    flex-direction: row;
    background-color: green;
    line-height: 20px;
    color: #fff;
}
.headins h1{
margin: 20px;
text-transform: uppercase;
}
img{
    width: 90px;
}
.left-control{
    margin: 50px;
    width: 100%;
    max-width: 480px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}
.left{
    
}

.right-control{
    margin: 50px;
    width: 100%;
    max-width: 480px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);  
}
.right{
    width: 100%;
    max-width: 480px;
    margin: 30px auto;
    padding: 40px;
    text-align: center;
}
.right form{
    display: flex;
    flex-direction: column; 
    text-align: center; 
}